*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --color-accent: #fde293;
  --color-dark: #1e1e1e;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Myriad Pro', sans-serif;
  margin: 2rem 2rem 0 2rem;
}

/*----FONTS----*/

h1 {
  font-family: "Montserrat";
  font-size: 3.125rem;
  line-height: 3.875rem;
  font-weight: 800;
  color: var(--color-dark);
}

h1~.subtitle {
  font-size: 1.25rem;
  font-family: "Myriad Pro";
}

h2 {
  font-family: "Myriad Pro";
  font-size: 2.875rem;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
    line-height: 5rem;
  }
}

/*----NAVBAR ----*/

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.navbar .links .nav-item {
  display: inline-block;
  margin-right: 3.125rem;
  padding: .75rem 0;
  border-bottom: 3px solid transparent;
}

.navbar .links .nav-item:last-child {
  margin-right: 0;
}

.navbar .links .nav-item:hover {
  border-bottom: 2px solid #111;
}

.navbar .links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-dark);
}


/*----HEADER----*/

.header {
  padding-top: 3.375rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header .title~.subtitle {
  margin: 1.875rem 0;
}

.header .header-img {
  background-image: url("../images/verne-ho-0LAJfSNa-xQ-unsplash.jpg");
  aspect-ratio: 1.947;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 979px;
}

/*----FOOTER----*/

.footer {
  background-color: var(--color-dark);
  min-height: 200px;
  margin: 0 -2rem;
}