*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  --color-accent: #ffe600;
  --color-hover: #fde293;
  --color-dark: #1e1e1e;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Myriad Pro', sans-serif;
  margin: 2rem 2rem 0 2rem;
}

/*----FONTS----*/

h1 {
  font-family: "Montserrat";
  font-size: 3.125rem;
  line-height: 3.875rem;
  font-weight: 800;
  color: var(--color-dark);
}


h2 {
  font-family: "Montserrat";
  font-size: 2.875rem;
  font-weight: 800;
  color: var(--color-dark);
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--color-dark);
  margin-bottom: 1.125rem
}

h1~.subtitle,
h2~.subtitle,
h3~.subtitle {
  font-family: "Myriad Pro";
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.75rem;
    line-height: 5rem;
  }
}

/*----GENERIC ----*/

.btn {
  background-color: var(--color-accent);
  border: none;
  padding: 1rem 2.75rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 500;
}

.text-center-mobile {
  text-align: center;
}

@media screen and (min-width: 768px) {
  
  .text-center-mobile {
    text-align: left;
  }
}

/*----NAVBAR ----*/

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
}

.navbar .links .nav-item {
  display: inline-block;
  margin-right: 3.125rem;
  padding: .75rem 0;
  border-bottom: 3px solid transparent;
}

.navbar .links .nav-item:last-child {
  margin-right: 0;
}

.navbar .links .nav-item:hover {
  border-bottom: 2px solid #111;
}

.navbar .links a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-dark);
}


/*----HEADER----*/

.header {
  padding-top: 3.375rem;
  display: flex;
  flex-direction: column;
}

.header h1~.subtitle {
  margin: 1.875rem 0;
}

.header .header-img {
  background-image: url("../images/verne-ho-0LAJfSNa-xQ-unsplash.jpg");
  aspect-ratio: 1.947;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 979px;
}

/*----PORTFOLIO----*/

.section.portfolio .portfolio-filter {
  margin-bottom: 2rem;
}

.section.portfolio .portfolio-filter .portfolio-filter-item {
  display: inline-block;
  padding: .75rem 1rem;
  text-transform: uppercase;
}

.section.portfolio .portfolio-filter .portfolio-filter-item.active {
  background-color: var(--color-accent);
}

.section.portfolio .portfolio-filter .portfolio-filter-item:hover {
  background-color: var(--color-hover);
}

.section.portfolio .portfolio-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.section.portfolio .portfolio-grid .portfolio-grid-item {
  position: relative;
}

.section.portfolio .portfolio-grid .portfolio-grid-item .overlay {
  background-color: rgba(255, 230, 0, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  visibility: hidden;
}

.section.portfolio .portfolio-grid .portfolio-grid-item .overlay p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1rem;
}

.section.portfolio .portfolio-grid .portfolio-grid-item .overlay .overlay-title {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 1.125rem;
}


.section.portfolio .portfolio-grid .portfolio-grid-item:hover .overlay {
  visibility: visible;

}

.section.portfolio .portfolio-grid .portfolio-grid-item img {
  object-fit: cover;
  object-position: center 75%;
  aspect-ratio: 1/1;
  vertical-align: bottom;
}

.section.portfolio .portfolio-btn-more {
  margin: 0 auto;
  display: block;
}

/*----ABOUT----*/

.section.about .about-grid {
  display: grid;
  grid-template-areas:
    "person1"
    "person2"
    "infos";
  gap: 2rem;
  margin: 2rem auto;
}

.section.about .about-grid .about-grid-item.person1 {
  grid-area: person1;
}

.section.about .about-grid .about-grid-item.person2 {
  grid-area: person2;
}

.section.about .about-grid .about-grid-item.infos {
  grid-area: infos;

}

.section.about .about-grid .about-grid-item {
  margin: 0 6rem;
}

.section.about .about-grid .about-grid-item.person {
  position: relative;
}

.section.about .about-grid .about-grid-item.person img {
  aspect-ratio: 1;
  object-fit: cover;
  vertical-align: bottom;
}

.section.about .about-grid .about-grid-item.person .person-info {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-accent);
  width: 75%;
  font-family: "Montserrat";
  font-weight: 800;
  color: var(--color-dark);
  font-size: 1rem;
  padding: 1rem 2rem;
}

.section.about .about-grid .about-grid-item.person .person-info .job {
  font-weight: 500;
  color: white;
  margin-top: .75rem;
}

.section.about .about-grid .about-grid-item.infos {
  text-align: center;
}

.section.about .about-grid .about-grid-item.infos h3 {
  font-size: 2rem;
  margin-bottom: 1.75rem;
}

.section.about .about-grid .about-grid-item.infos .read-more {
  display: block;
  font-size: 1rem;
  color: var(--color-dark);
  text-decoration: none;
  margin-top: 2.75rem;
}

.section.about .about-grid .about-grid-item.infos .read-more:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .section.about .about-grid {
    grid-template-areas:
      "person1 person2"
      "infos infos";
  }

  .section.about .about-grid .about-grid-item {
    margin: 0;
  }

  .section.about .about-grid .about-grid-item.infos {
    max-width: 448px;
    margin: 0 auto;
  }
}


@media screen and (min-width: 1024px) {
  .section.about .about-grid {
    grid-template-areas: "person1 person2 infos";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section.about .about-grid .about-grid-item.person {
    margin: 0;
  }

  .section.about .about-grid .about-grid-item.infos {
    border: 4px solid #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.25rem;
  }
}

/*----FOOTER----*/

.footer {
  background-color: var(--color-dark);
  min-height: 200px;
  margin: 0 -2rem;
}


.navbar,
.header,
.portfolio,
.partners,
/* .about, */
.blog,
.contact,
/* .footer,  */
#dev-mode {
  display: none;
}